#cart {
    float: left;
    margin-right: 20px;
  }
  
  #products {
    float: left;
  }
  
  #cart-items li {
    margin-bottom: 10px;
  }
  
  #checkout-btn {
    display: block;
    margin-top: 10px;
  }
  .cartimage{
    height: 50px;
    width: 50px;
    display: inline;
  }
  .shpcrt{
    display: inline-block;
  }

  h1 {
    margin-bottom: 20px;
  }
  
  th {
    text-align: center;
  }
  
  td {
    vertical-align: middle;
  }
  
  tfoot td {
    font-weight: bold;
  }
